h2{
	box-sizing:border-box;
	margin:0;
	text-align: center;
	padding-bottom: 3%;
}

.left2 img{
	margin-top: 30%;
	border: 2px solid #000000;
	border-radius: 60px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div{
	width:100%;
	box-sizing:border-box;
	margin:0;
	padding-top: 3%;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 0;
	text-align: center;
}

.content{
	width:47%;
	box-sizing:border-box;
	margin:1%;
	padding-bottom: 0;
	padding-left: 3%;
	padding-right: 3%;
	display:inline-block;
	vertical-align: top;
}

div p{
	text-align: justify;
	margin-bottom:0;
}

.image{
	box-sizing:border-box;
	width:70%;
	display: block;
	padding: 0;
	margin: auto;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.image p{
	text-align: center;
	padding-top:0.5%;
	padding-bottom: 0.5%;
	margin:0;
	font-size: 12px;
	font-style: italic;
}

.left3{
	padding-bottom: 460%;
}



